@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

body {
    background-image: radial-gradient(circle, #ffffff 60%, #6a6a6c 100%);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 80px 20px 20px;
    text-align: center;
    font-family: 'Jacques Francois', serif;
    min-height: 100vh;
}

/*intro animation for website
  covered by overlay that fades out after 7 seconds*/
.intro-overlay {
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100vh;

    background-color: black;
    z-index: 9999;
    animation: reveal 7s ease forwards;
}

@keyframes reveal {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity:0;
    transform: scale(1.50);
    display:hidden;
  }
}
#myName {
    position: relative;
    font-size: 65px;
    margin: 0;
    text-align: center;
}

/*
header nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}


header nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: 'Jacques Francois', serif;
    transition: opacity 0.3s;
}

header nav a:hover {
    opacity: 0.6;
}
*/

#about h2 {
    margin-bottom: 10px;
    font-size: 35px;
}

#about p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#technologies {
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#technologies h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

.technologies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    text-align: left;
}

.technology-category {
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 12px;
    background: #dde2e3; 

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*hover effect for technology categories */
.technology-category:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.technology-category h3 {
    margin-bottom: 12px;
    font-size: 20px;
}

.technology-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

.technology-category li::before {
    content: "• ";
    color: #333;
}

#contact {
    margin-top: 60px;
}

#contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#contact ul li {
    margin: 0;
    padding: 0;
}

#contact img {
    filter: grayscale(60%);
    display: block;
    max-width: 100%;
    height: auto;
}